 *{

    padding: 0px;
    margin: 0px;
}



fieldset{
    
    width: 461px;
    margin: auto;
    border: none;
    margin-top: 100px;

}
h1{

    font-family: 'Cabin', sans-serif;
    color: #934D9E;
    margin: auto;
    text-align: center;
    font-size: 50px;
}
label{

    
    position: relative;
    top: 49px;
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    text-align: right;
    color: #934D9E;

    
}
.entrada{



width: 50%;
margin-left: 118px;
margin-right: 100px;
height: 55px;
background: #FFFFFF;
border: 1px solid #934D9E;
box-sizing: border-box;
border-radius: 50px;
text-align: center;
font-size: 20px;

}

.botoes-estilos{
    /* width: 296px; */
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
}
#b_visul{

height: 65px;
width: 167px;
background-color: #A22C27;
color: white;
border-radius: 50px;
border: none;
font-size: 20px;


}



#b_cadast{

height: 65px;
width: 167px;
background-color: #934D9E;
color: white;
font-size: 20px;
border-radius: 50px;
border: none;

} 

button:hover{opacity: 0,7;}
/* Animações  */

#pos3{
    margin-left: 1px;
}

