fieldset{
    
    width: 461px;
    margin: auto;
    border: none;
    margin-top: 450px;
}
.entrada{



    width: 50%;
    margin-left: 118px;
    margin-right: 100px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #934D9E;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}
label{

    
    position: relative;
    top: 49px;
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    text-align: right;
    color: #934D9E;
}

.botao{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
    
}
#entrar{
   
    height: 65px;
    width: 167px;
    background-color: #934D9E;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    margin-left: -50px;
}
