body {
	font-family: "Lato", sans-serif;
	padding:0px;
    margin:0px;
	background-color: #E1DEE9;

  }



 p{
	display: inline-block;
 }

.pos1{
	color:white;
	margin-top: -30;
	margin-left: 90%;
	
}

#logop{
	border-radius: 50%;
	position: absolute;
	margin-top: -85;
}


span{
	color: #934D9E;
	top: 166;
	position: absolute;
}
  
.mein{
	
			background-color: #523961;
		padding:8px 8px 8px 32px;
		position: absolute;
		position: fixed;
		width: 100%;
		height: 150;
		
  }
  
.sidenav {
	height: 100%;
	width: 0;
	position: relative;
	position: fixed;
	z-index: 1;
	top: 166;
	left: 0;
	background-color: #934D9E;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	
  }


.sidenav a {
	padding: 8px 8px 78px 32px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	transition: 0.3s;
	color: #f1f1f1;
  }
  
.sidenav a:hover {
	opacity: 0.2;
  }
  
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
 

#sairpos{
	margin-top: 40%;
}
 
.pos2{
	font-size: 18;
	margin-left: 5%;
	color: white;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  