 *{

    padding: 0px;
    margin: 0px;
}


h1{

    font-family: 'Cabin', sans-serif;
    color: #934D9E;
    margin: auto;
    text-align: center;
    font-size: 50px;
}


#b_visul{

height: 65px;
width: 167px;
background-color: #A22C27;
color: white;
border-radius: 50px;
border: none;
font-size: 20px;


}



#b_cadast{

height: 65px;
width: 167px;
background-color: #934D9E;
color: white;
font-size: 20px;
border-radius: 50px;
border: none;

} 

button:hover{opacity: 0,7;}
/* Animações  */

#pos3{
    margin-left: 1px;
}

