

.entrada_pes{

    width: 50%;
    margin-left: 118px;
    margin-right: 100px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #934D9E;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    padding: 10px 144px;
}
.cima{
    top: 13px;
}

.entrada_maior{



    width: 75%;
    
    margin-left: 118px;
    margin-right: 100px;
    height: 110px;
    background: #FFFFFF;
    border: 1px solid #934D9E;
    box-sizing: border-box;
    border-radius: 20px;
    
    font-size: 20px;
}

.cards{display: flex;

}

.entrada_big{

    width: 80%;
    margin-top: 25px;
    margin-right: 100px;
    height: 290px;
    background: #FFFFFF;
    border: 1px solid #934D9E;
    box-sizing: border-box;
    border-radius: 20px;
    
    font-size: 20px;
}




#b_excluir{


    background-color: #934D9E;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    margin-left: 400px;
    padding: 20px 23px;
    cursor: pointer;
    
    }

#b_atualizar{

    background-color:#A22C27;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    margin-left: 400px;
    padding: 20px 30px;
    cursor: pointer;
    
    }




#cadastrofun{
	height: 85px;
    width: 250px;
    background-color: #934D9E;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    border: none;
	cursor: pointer;
}

#b_pesquisar{
    background-color: #934D9E;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
   
    padding: 10px 11px;
    cursor: pointer;
}

#b_pesquisar:hover,#b_cadastro:hover,#b_excluir:hover,#b_atualizar:hover,#b_pesq-p:hover,#b_cadastrar-p:hover,#b_adicionar:hover,#b_cadastro:hover, #b_cancelar:hover{opacity: 0.7;}

#b_pesq-p{
    margin: 1px 0px 15px 105px;
	height: 85px;
    width: 250px;
    background-color: #934D9E;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    border: none;
	cursor: pointer;
}

#b_cadastrar-p{
    margin: 1px 0px 0px 93px;
	height: 85px;
    width: 269px;
    background-color: #934D9E;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    border: none;
	margin-top: 60px;
	cursor: pointer;
	
}
