
#b_cancelar{


background-color: #A22C27;
color: white;
border-radius: 50px;
border: none;
font-size: 20px;
margin-left: 400px;
padding: 20px 50px;
cursor: pointer;

}







#cadastrofun{
    margin: 1px 0px 15px 105px;
	height: 85px;
    width: 250px;
    background-color: #934D9E;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    border: none;
	cursor: pointer;
}



#cadastrofun:hover,#cadastrofor:hover,#b_cadastro:hover, #b_cancelar:hover{opacity: 0.7;}


.nomeem{
    margin-left: -100;
}

