*{

    padding: 0px;
    margin: 0px;
}



body {
	font-family: "Lato", sans-serif;
	padding:0px;
    margin:0px;
	background-color: rgb(10, 2, 37);
	

  }


/*nome de usuario*/
 p{
	display: inline-block;
	font-size: 20;
	
 }

 /*posição logo*/
.pos1{
	color:white;
	margin-top: -110;
	margin-left: 89%;
	position: fixed;
	
	
}
.pos3{
	margin-left: -17;

}
* {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
  }
  
  *:focus {
	outline: none;
  }
  
  body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	
  }
  
  #app-cover {
	display: table;
	width: 600px;
	margin: 80px auto;
	counter-reset: button-counter;
  }
  
  .row {
	display: table-row;
  }
  
  .toggle-button-cover {
	display: table-cell;
	position: relative;
	width: 74px;
	height: 36px;
	box-sizing: border-box;
  }
  

  

  
  .button-cover,
  .knobs,
  .layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  }
  
  .button {
	position: relative;
	top: 120%;
	width: 74px;
	height: 36px;
	margin: -20px auto 0 auto;
	overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
	border-radius: 100px;
  }
  
  .button.b2 {
	border-radius: 2px;
  }
  
  .checkbox {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	opacity: 0;
	cursor: pointer;
	z-index: 3;
  }
  
  .knobs {
	z-index: 2;
  }
  
  .layer {
	width: 100%;
	background-color: #934D9E;
	transition: 0.3s ease all;
	z-index: 1;
  }
/* Button 3 */
#button-3 .knobs:before {
	content: " ";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 10px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 9px 4px;
	background-color: #182125;
	border-radius: 50%;
	transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkbox:active + .knobs:before {
	width: 46px;
	border-radius: 100px;
  }
  
  #button-3 .checkbox:checked:active + .knobs:before {
	margin-left: -26px;
  }
  
  #button-3 .checkbox:checked + .knobs:before {
	content: " ";
	left: 42px;
	background-color:rgb(10, 2, 37);
  }
  
  #button-3 .checkbox:checked ~ .layer {
	background-color: hsl(292, 30%, 49%);
	
  }
.white-mode {

    background-color: #E1DEE9;
    color: white;
    /*width: 10px;*/
    /*height: 10px;*/
	

}

.moon{

    position: absolute;
    top: 174px;
    right: 147px;
}

#logop{
    border-radius: 50%;
    /*margin-top: -115px;*/
    display: flex;
}


span{
	color: #934D9E;
	top: 166;
	position: absolute;
}
  
/*.mein{
	
		background-color: #523961;
		padding:8px 8px 8px 32px;
		position: absolute;
		
		width: 100%;
		height: 150;
		
  }
*/
.top{

	background-color: #523961;
		padding:8px 8px 8px 32px;
		position: absolute;
		position: fixed;
		width: 100%;
		height: 150;
	
}


.sidenav {
	height: 100%;
	width: 0;
	position: relative;
	position: fixed;
	z-index: 1;
	top: 166;
	left: 0;
	background-color: #934D9E;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	
  }
  


.sidenav a {
	padding: 8px 8px 78px 32px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	transition: 0.3s;
	color: #f1f1f1;
  }
  
.sidenav a:hover {
	opacity: 0.2;
  }
  
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
 

#sairpos{
	margin-top: 40%;
}
 
.pos2{
	font-size: 18;
	margin-left: 5%;
	color: white;
}

#main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
/*@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  */


  /* em diante css do da tela de login*/

  .centro{
	/*position: absolute;*/
	width: 431px;
	height: 431px;
	/*left: 40%;
	top: 15%;*/
	background: #523961;
	border-radius: 50%;
	margin: 80px 0px 0px 40%;
   }

.textologin{
	color: white;
	position: absolute;
	margin-left: 102px;
	margin-top: 40px;
	font-size: 50px;

	
}
.imglogin{
	/*position: absolute;*/
	margin-top: 119px;
	border-radius: 50%;
	margin-left: 60px;
	
}
/*exescencial*/
.trabalho{
	width: 461px;
    margin: auto;
    border: none;
    margin-top: 161px;
    border: 3px solid #934D9E;
    border-radius: 100px;
    padding: 53px 173px;

}
.trabalho-centro{
	width: 461px;
    margin: auto;
    border: none;
    margin-top: 162px;
	border:3px solid #934D9E;	;
	border-radius: 100px;
	padding: 168px 76px 60px 62px
}



.trabalho-allef{
	width: 100%;
    margin-left: 40%;
    border: none;
    margin-top: 170px;
}


/*exibição da input*/

label {
	/*position: relative; */
    /* top: -17px; */
    font-size: 25px;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    text-align: right;
    color: #934D9E;
    margin-left: -30;
    display: inline-block;
    /* left: -10; */
    margin: 41px 1px -43px -27px;
}
.label-login{
	margin: 0px;
}

h3{
    
    font-family: 'Cabin', sans-serif;
    color: #934D9E;
    margin: auto;
    text-align: center;
    font-size: 50px;
    position: absolute;
    margin-top: -150px;
    margin-left: 32px;
}
h4 {
    font-family: 'Cabin', sans-serif;
    color: #934D9E;
    margin: auto;
    text-align: center;
    font-size: 50px;
    /* position: absolute; */
    margin-top: -150px;
    /*margin-left: 6px;*/
}
h5{
    
    font-family: 'Cabin', sans-serif;
    color: #934D9E;
    margin: auto;
    text-align: center;
    font-size: 50px;
    position: absolute;
    margin-top: -143px;
    margin-left: 133px;
}
fieldset {
    width: 461px;
    margin: auto;
    border: none;
    margin-top: 100px;
}
/*input*/
.entrada {
    width: 60%;
    margin-left: 118px;
    margin-right: 100px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #934D9E;
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
    font-size: 20px;
}


 /*Botoes*/
#b_cadastro {
    background-color: #934D9E;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    margin-left: 225px;
    padding: 20px 50px;
    cursor: pointer;
}
.botao{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
}

.botoes-estilos{
  
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 0px -379px;
    margin-top: 50px;
}
/*ganbiarra para formatar*/
.botoes-estilos2{
display: flex;
    justify-content: space-around;
    margin: 0px 0px 0px -451px;
    margin-top: 50px;
}

#b_centro{


	background-color: #934D9E;
	color: white;
	border-radius: 50px;
	border: none;
	font-size: 20px;
	margin: -14px -360px -24px 10px;
	padding: 20px 50px;
	cursor: pointer;
	
}


.img-pos{
	margin: 0px 27px -12px 6px;
}




/*responsividade telas menores*/

@media (min-width:768px) and (max-width: 1366px) {

    body{
        background-color: red;
    }
	.trabalho-centro {
		width: 463px;
		margin: auto;
		border: none;
		margin-top: 169px;
		border: 3px solid #934D9E;
		border-radius: 100px;
		padding: 104px 2px;
	}
	h3 {
		font-family: 'Cabin', sans-serif;
		color: #934D9E;
		margin: auto;
		text-align: center;
		font-size: 50px;
		position: absolute; 
		margin-top: -82px;
		margin-left: 32px;
	}
	h5 {
		font-family: 'Cabin', sans-serif;
		color: #934D9E;
		margin: auto;
		text-align: center;
		font-size: 50px;
		position: absolute;
		margin-top: -101px;
		margin-left: 133px;
	}
	.sidenav a {
		padding: 5px 0.5px 10px 32px;
		text-decoration: none;
		font-size: 25px;
		display: block;
		transition: 0.3s;
		color: #f1f1f1;
	}
	.sidenav {
		height: 100%;
		width: 0;
		position: relative;
		position: fixed;
		z-index: 1;
		top: 167;
		left: 0;
		background-color: #934D9E;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 57px;
	}
	element.style {
		width: 240px;
	}
	.top {
		background-color: #523961;
		padding: 8px 8px 9px 32px;
		position: absolute;
		position: fixed;
		width: 100%;
		/* height: 150; */
	}
    /* de 768px até 992px*/
}


/****************listagem********************/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #934D9E;
    text-align: left;
    padding: 10px 35px 10px 30px;
    color: white;
    /* border-radius: 1000px; */

	
  }
  
.pagination{
	
		color: none;
		display: flex;
		margin: 20px 0px 0px -100px;
		list-style: none;
	
}
.page-link{
    margin: 0px 10px 0px 62px;
    height: 85px;
    width: 297px;
    background-color: #934D9E;
    color: white;
    font-size: 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 11px 17px 9px 15px;
    text-decoration: none;

}
.dataTables_info{
	margin: 20px 113px 38px 359px;
    /* height: 85px; */
    /* width: 297px; */
    background-color: #934D9E;
    color: white;
    font-size: 12px;
    border-radius: 50px;
    border: none;
    /* cursor: pointer; */
    padding: 6px 0px 0px 14px;
    text-decoration: none;
}

#amar{
	margin: 62px 100px 0px -80px;
	text-align: center;
}
#amar_length{
	margin:0px 0px -63px -54px;
}
#amar_filter{
	margin:0px 0px 25px -55px;
}

tbody{
	text-align: center;
}
#amar_filter{
	content: "YES";
  }
  