{% extends 'menu.html' %}
{% block title %}{{super()}} - Dashboard{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}

<div class="dash-tudo">
  <div class="dash-cima">
    <div class="dash-campo">
      <h2>Funcionarios</h2>
      {% for i in qtdfuncionarios %}
        <h6>{{i['id']}}</h6>
      {% endfor %}
        
    </div>
    <div class="dash-campo">
      <h2>Produtos</h2>
      {% for i in qtdprodutos %}
        <h6>{{i['id'] - 10}}</h6>
      {% endfor %}
    </div>
    <div class="dash-campo">
      <h2>clientes</h2>
      {% for i in qtdclientes %}
        <h6>{{(i['id'])}}</h6>
      {% endfor %}
    </div>

  </div >  
</div>  
{% endblock content %}