{% extends 'menu.html' %}
{% block title %}{{super()}} - Dashboard{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}

<div class="dash-tudo">
  <div class="dash-cima">
    <div class="dash-campo">
      <h2>Funcionarios</h2>
      {% for i in qtdfuncionarios %}
        <h6>{{i['id']}}</h6>
      {% endfor %}
        
    </div>
    <div class="dash-campo">
      
    </div>
    <div class="dash-campo">

    </div>

  </div >  
  <div class="dash-baixo">  
    <div class="dash-campo-baixo">
      

    </div>
    <div class="dash-campo-baixo-men">

    </div>
  </div>
</div>  
{% endblock content %}