{% extends 'menu.html' %} {% block title %}{{super()}} - Cadastro de Produtos{%
endblock title %} {% block name %} {{name}} {% endblock name %} {% block content%}
  


<div class="trabalho">
  
  <fieldset>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <span class="mensagem">{{ message }}</span>
        {% endfor %}
      {% endif %}
    {% endwith %} 
    <h4>Cadastro de produto</h4>
    <form action="" method="POST">
      {{cadastro.csrf_token}}
      <div class="card">
        <label>SKU</label>
        {{cadastro.sku(class_="entrada")}} 
        <br>
        <label>Nome</label>
        {{cadastro.nome(class="entrada", onkeyup_="Apenasletras(this)")}}
        <br />
        <label>Quantidade </label>
        {{cadastro.quantidade(class="entrada")}}
        <br />
        <label>preço </label>
        {{cadastro.preco(class="entrada")}}
        <br />
        <label>Descrição</label>
        {{cadastro.descricao(class="entrada_maior")}}

      </div>
  </fieldset>
  <div class="botoes-estilos">
    <button id="b_centro">Adicionar</button>
  </div>
</form>

</div>

{% endblock content %}