{% extends 'menu.html' %}
{% block title %}{{super()}} - Financeiro-Contas{% endblock title %}
{% block content %}

    <div class="trabalho">
      <fieldset>
        <h4>Encontrar Produto</h4>
          <div class="cards">
            <label class="cima">ID</label>
            <input class="entrada_pes" type="text" maxlength="20" />
            <button id="b_pesquisar"> Pesquisar </button>
            
          </div>
      <input class="entrada_big" type="number" maxlength="20" />
            
      </fieldset>
      <div class="botoes-estilos">
        <button id="b_atualizar"> Excluir </button>
        <button id="b_excluir"> Atualizar </button>
        
      </div>

    </div>

    {% endblock content %}