
{% extends 'menu.html' %}
{% block title %}{{super()}} - RH{% endblock title %}
{% block name %}  {{name}} {% endblock name %}
{% block content %}

    <div class="trabalho-centro">
      <h5>Financeiro</h5>
      <a href="financeiro-contas-a-receber"><button id="cadastrofor"> Cadastrar conta a receber</button></a>
      <br>
      <a href="financeiros-contas-a-pagar"><button id="cadastrofor"> Cadastrar conta a pagar</button></a>
      <br>
      <a href="financeiros-exibir-relatorio"><button id="cadastrofor"> Exibir Relatório</button></a>
   
    </div>

{% endblock content %}