{% extends 'menu.html' %}
{% block title %}{{super()}} - Financeiro-Contas{% endblock title %}
{% block name %}  {{name}} {% endblock name %}
{% block content %}

    <div class="trabalho">
      <fieldset>
        <h4>Contas a Pagar</h4>
        <div class="card">
          <label>Nome</label>
          <input class="entrada" type="text" maxlength="20" />
          <br />
          <label>Valor</label>
          <input class="entrada" type="text" />
          <br />
          <label>Pagador</label>
          <input class="entrada" type="text" maxlength="20" />
          <br />
          <label>Data</label>
          <input class="entrada" type="date" />
        </div>
        <br />
        <div class="botoes-estilos2">
          <button id="b_cancelar">Visualizar</button>
          <button id="b_cadastro"> Cadastrar </button>
        </div>
      </fieldset>
    </div>

{% endblock content %}