{% extends 'menu.html' %}
{% block title %}{{super()}} - RH{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}


  <div class="meio">

    <details>
      <summary>receber</summary>
      <ul>Lista</ul>
      <ul>Lista</ul>
      <ul>Lista</ul>
      <ul>Lista</ul>
      <ul>Lista</ul>
      </summary>
    </details>
    <br>
    <details>
      <summary>pagar</summary>
      <ul>Lista</ul>
      <ul>Lista</ul>
      <ul>Lista</ul>
      <ul>Lista</ul>
      <ul>Lista</ul>
    </details>
    <br>
    <a><button> Total receber</button></a>
    <a><button> Total pagar</button></a>
    <a><button> Saldo</button></a>
    </body>
  </div>

{% endblock content %}