
{% extends 'menu.html' %}
{% block title %}{{super()}} - RH{% endblock title %}
{% block content %}

    <div class="trabalho">
      <h3>Financeiro</h3>
      <a href="financeiro-contas-a-receber"><button id="b_contas-a"> Cadastrar conta a receber</button></a>
      <br>
      <a href="financeiros-contas-a-pagar"><button id="b_contas-p"> Cadastrar conta a pagar</button></a>
      <br>
      <a href="financeiros-exibir-relatorio"><button id="b_exibir-relatorio"> Exibir Relatório</button></a>
   
    </div>

{% endblock content %}