{% extends 'menu.html' %}
{% block title %}{{super()}} - Listar contas a pagar{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}
  {% block tabela %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  {% endblock tabela %}
  <div class="trabalho">
    <h4>Listar contas a pagar</h4>
    <table id="relatoio">
      <thead>
        <tr>
          <th>Finalidade</th>
          <th>valor</th>
        </tr>
      </thead>
      <tbody>
        {% for i in pagar %}
            <tr>
                <td>{{i['finalidade']}}</td>
                <td>{{i['valor']}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/financeiros-exibir-relatorio"><button>Voltar ao relatório</button></a>
    <a href="/receber" target="_blank"><button>Listar contas a receber</button></a>
  </div>
  {% endblock content %}
  {% block jstabela %}
  <script>
         
    $(document).ready(function () {
  $('#amar').DataTable({"language": {
        "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/pt-BR.json"}});
  });
     
  </script>
  
  </script>
  {% endblock jstabela %}
