{% extends 'menu.html' %}
{% block title %}{{super()}} - Financeiro-Contas{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}


<div class="trabalho">
  <fieldset>
    <h4>Contas a Pagar</h4>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
            <span class="mensagem">{{ message }}</span>
        {% endfor %}
      {% endif %}
    {% endwith %} 
    <form action="" method="post">
      {{pagar.csrf_token}}
      <div class="card">
        <label>Finalidade</label>
        {{pagar.finalidade(class="entrada", maxlength_="20", onkeyup_="Apenasletras(this)")}}
        <br />
        <label>Cliente final</label>
        {{pagar.clienteFinal(class="entrada", maxlength_="20", onkeyup_="Apenasletras(this)")}}
        <label>Valor</label>
        {{pagar.valor(class="entrada", maxlength_="20")}}
        <br />
        <label>Comprador</label>
        {{pagar.comprador(class="entrada", maxlength_="20", onkeyup_="Apenasletras(this)")}}
        <br />
        <label>Data</label>
        {{pagar.dia(class="entrada")}}
      </div>
      <br />
    </fieldset>
      <div class="botoes-estilos2">
        <button id="b_cancelar">Visualizar</button>
        <button id="b_cadastro"> Cadastrar </button>
      </div>
  </form>
</div>

{% endblock content %}