<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />

    <title>DropsERP - Login</title>
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0" />
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/d7f5ff492c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/login.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}" />
</head>

<body>
    <div class="centro">
        <h6 class="textologin">DropsERP</h6>
        <img class="imglogin" src="{{url_for('static', filename='images/image_1.png')}}" alt="" height="300px" />
        <fieldset class="ajuste-login">
            <form action="" method="POST">
                {% with messages = get_flashed_messages() %} 
                {% if messages %} 
                    {% for message in messages %}
                        <span class="mensagem-logout" style="margin-left: 215px;">{{ message }}</span>
                    {% endfor %} 
                {% endif %}
            {% endwith %}
                {{form.csrf_token}}
                <label class="label-login">Login</label>
                {{form.username(class="entrada", placeholder='Seu Usuário')}}
                <br />
                <label class="label-login">Senha</label>
                {{form.password(class="entrada", placeholder='Insira sua senha')}}
                <br />
                <div class="botao">
                    <button id="entrar"  type="submit">Entrar</button>
                </div>
                <a href="/cartao"><button id="entrar" style="    margin: 24px 0px 15px 124px;" onclick="aproximecartao()">Possui um cartão de acesso?</button></a>
            </form>
            
        </fieldset>
      

       
    </div>
    <script>
        function aproximecartao() {
          alert("Por favor aproxime seu cartão e clique em ok");
        }
        </script>
</body>

</html>