{% extends 'menu.html' %}
{% block title %}{{super()}} - Cadastro de Produtos{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}


<div class="trabalho">
  <fieldset>
    <h4>Fornecedores</h4>
    <form action="" method="POST">
      {{fornecedor.csrf_token}}
      <div class="card">
        <label class="nomeem">Nome da Empresa</label>
        {{fornecedor.nome(class="entrada", type="text", maxlength="50", onkeyup="Apenasletras(this)")}}
        <br>
        <label>CNPJ</label>
        {{fornecedor.cnpj(id="cnpj", class="entrada",type="text", maxlength="18",  onkeyup_="mascara_cpf()")}}
        <br>
        <label>Descrição</label>
        {{fornecedor.descricao(class="entrada_maior", placeholder='Insira Uma descrição')}}
      </div>
  </fieldset>
  <div class="botoes-estilos">
    <button id="b_cancelar"> Cancelar </button>
    <button id="b_cadastro"> Cadastrar </button>
  </div>
  </form>
</div>

{% endblock content %}