{% extends 'menu.html' %} {% block title %}{{super()}} - Cadastro de Funcionarios{%
endblock title %} {% block name %} {{name}} {% endblock name %} {% block content
%}
<script src="../static/js/funcoesparaform.js"></script>

<div class="trabalho">
  <fieldset>
    <h4>Funcionario</h4>
       
    <form action="" method="POST">
      {{funcionario.csrf_token}}
      <div class="card">        
        <label>Nome</label>
        {{funcionario.nome(class="entrada", type="text", maxlength="20", onkeyup_="Apenasletras(this)")}}
        <label>Sobrenome </label>
        {{funcionario.sobrenome(class="entrada", type="text", maxlength="20", onkeyup_="Apenasletras(this)")}}
        <label>CPF</label>
        {{funcionario.cpf(id="cpf", class="entrada",type="text", maxlength="14",  oninput_="mascara_cpf(this)")}}
        <br />
        <label>Cargo</label>
        {{funcionario.cargo(class="entrada")}}
                <br />
      </div>
  </fieldset>
  {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <span class="mensagem-fun">{{ message }}</span>
          {% endfor %}
      {% endif %}
    {% endwith %}   
  <div class="botoes-estilos">
    <button id="b_centro">Cadastrar</button>
  </div>
</form>
  <a href="/lista-funcionario"><button id="cadastrofor">Listar Formulario</button></a>

</div>

{% endblock content %}