{% extends 'menu.html' %}
{% block title %}{{super()}} - Cadastro de Produtos{% endblock title %}
{% block name %} {{name}} {% endblock name %}
{% block content %}

<script src="../static/js/funcoesparaform.js"></script>

<div class="trabalho">
  <fieldset>
 
   
    <h4>Fornecedores</h4>
    <form action="" method="POST">
      {{fornecedor.csrf_token}}
      <div class="card">
        <label class="nomeem">Nome da Empresa</label>
        {{fornecedor.nome(class="entrada", type="text", maxlength="50", onkeyup="Apenasletras(this)")}}
        <br>
        <label>CNPJ</label>
        {{fornecedor.cnpj(id="cnpj", class="entrada",type="text", maxlength="18",  oninput="mascara_cnpj(this)")}}
        <br>
        <label>Descrição</label>
        {{fornecedor.descricao(class="entrada_maior")}}
      </div>
         
  </fieldset>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
          <span class="mensagem-forn">{{ message }}</span>
      {% endfor %}
  {% endif %}
{% endwith %} 
  <div class="botoes-estilos">
    <button id="b_centro"> Cadastrar </button>
  </div>
  </form>
  <a href="/lista-fornecedor"><button id="cadastrofor">Listar Fornecedores</button></a>

</div>

{% endblock content %}